<a href="crates/{{crateid}}">
<div class="card" id="crate-{{crateid}}">
<img class="card-image" src="\images\crates\crate.png" alt="Picture of a case">
<div class="card-text">
<h1 class="text nolink center medium no-margin-bottom">{{crateName}}</h1>
<h1 class="text nolink center small small-margin-top">${{price}}</h1>
</div>
</div>
</a>
<link rel="stylesheet" href="/css/dist/crateCard.min.css">
