<div class="login-container">
  <form class="login-form" action="" method="post">
    <div class="control-group">
      <input type="text" name="username" value="" placeholder="Username" class="text center medium light">
    </div>
    <div class="control-group">
      <input type="password" name="password" value="" placeholder="Password" class="text center medium light">
    </div>
    <div class="control-group">
      <input type="submit" name="login" value="Login" class="text medium light">
    </div>
    <div class="control-group text center">
      <a class="link-block text center small light" href="password-reset">Password Reset</a>
      <a class="link-block text center small light" href="register">Register</a>
    </div>
  </form>
</div>
<link rel="stylesheet" href="css/login.css">
