<form class="" action="" method="post">

  <div class="control-group">
    <input type="text" name="username" value="" placeholder="Username">
  </div>
  <div class="control-group">
    <input type="password" name="password" value="" placeholder="Password">
  </div>
  <div class="control-group">
    <input type="submit" name="login" value="Login">
  </div>

</form>
<a class="link" href="password-reset">Password Reset</a>
<a class="link" href="register">Register</a>
