<nav class="navbar">
  <a href="landing"><img class="navbar-logo" src="images/x.png" alt="Image failed to load" width="28px"></a>
  <ul>
    <li><a href="home" class="navbar-link">Home</a></li>
    <li><a href="login" class="navbar-link">Login</a></li>
    <li><a href="register" class="navbar-link">Register</a></li>
    <li><a href="password-reset" class="navbar-link">Forgot Password?</a></li>
  </ul>
</nav>
