<div class="login-container">
  <form class="login-form" action="" method="post">
    <input type="hidden" name="resetCode" value="{{resetCode}}">
    <div class="control-group">
      <input type="password" name="password" value="" placeholder="Password" class="text center medium light">
    </div>
    <div class="control-group">
      <input type="password" name="passwordConfirm" value="" placeholder="Confirm Password" class="text center medium light">
    </div>
    <div class="control-group">
      <input type="submit" name="resetPassword" value="Reset Password" class="text medium center light">
    </div>
    <div class="control-group text center">
      <a class="link-block text center small light" href="login">Login</a>
      <a class="link-block text center small light" href="register">Register</a>
    </div>
    <div class="control-group text center">
      {{#each errors}}
    <strong> <p class=" text center medium light">{{this}}</p> </strong>
      {{/each}}
    </div>
  </form>
</div>
<link rel="stylesheet" href="css/dist/login.min.css">
