<form class="" action="" method="post" autocomplete="off">

  <div class="control-group">
    <input type="text" name="username" value="" placeholder="Username">
  </div>
  <div class="control-group">
    <input type="password" name="password" value="" placeholder="Password">
  </div>
  <div class="control-group">
    <input type="password" name="passwordConfirm" value="" placeholder="Confirm Password">
  </div>
  <div class="control-group">
    <input type="email" name="email" value="" placeholder="Email Address">
  </div>
  <div class="control-group">
    <input type="number" name="age" value="" placeholder="Age">
  </div>
  <div class="control-group">
    <input type="text" name="firstName" value="" placeholder="First Name">
  </div>
  <div class="control-group">
    <input type="text" name="lastName" value="" placeholder="Last Name">
  </div>
  <div class="control-group">
    <input type="submit" name="register" value="Register">
  </div>
</form>
<a class="link" href="password-reset">Password Reset</a>
<a class="link" href="login">Login</a>
