<div class="login-container">
<form class="login-form" action="" method="post">
  <div class="control-group text center light">
    <input class="text center medium light"type="email" name="email" value="" placeholder="E-Mail">
  </div>
  <div class="text center control-group">
    <input class="text medium light center" type="submit" name="requestPasswordReset" value="Password Reset">
  </div>
  <div class="control-group text center">
    {{#each errors}}
    <strong> <p class="text center medium light">{{this}}</p> </strong>
    {{/each}}
  </div>
</form>
<a class="link-block text center small light" href="login">Login</a>
<a class="link-block text center small light" href="register">Register</a>

<link rel="stylesheet" href="css/dist/login.min.css">
