<div class="container-fluid" style="margin-top: 20vh">
  <a href="/crates" class="btn btn-default">Cases</a>
  <a href="/inventory" class="btn btn-default">Inventory</a>
  <a href="/deposit" class="btn btn-default">Deposit</a>
  <a href="/withdraw" class="btn btn-default">Withdraw</a>
</div>
