<div class="block-container">
  <a href="crates">
  <div class="block top-left">
    <i class="top-left-picture"></i>
    <div class="block-content">
      <h1 class="xlarge text block-title">Cases</h1>
      <p class="text medium block-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
  </a>
  <a href="inventory">
  <div class="block top-right">
    <i class="top-right-picture"></i>
    <div class="block-content">
      <h1 class="xlarge text block-title">Inventory</h1>
      <p class="text medium block-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</a>
<a href="deposit">
  <div class="block bottom-left">
    <i class="bottom-left-picture"></i>
    <div class="block-content">
      <h1 class="xlarge text block-title">Deposit</h1>
      <p class="text medium block-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</a>
<a href="withdraw">
  <div class="block bottom-right">
    <i class="bottom-right-picture"></i>
    <div class="block-content">
      <h1 class="xlarge text block-title">Withdraw</h1>
      <p class="text medium block-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</a>
</div>
