<div class="block-container">
  <a href="crates">
  <div class="block left">
    <i class="left-picture"></i>
    <div class="block-content block-content-left">
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
      <h1 class="xbold xlarge text block-title block-title-left">Cases</h1>
    </div>
  </div>
  </a>
  <a href="inventory">
  <div class="block right">
    <i class="right-picture"></i>
    <div class="block-content block-content-right">
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
      <h1 class="xbold xlarge text block-title block-title-right">Inventory</h1>
    </div>
  </div>
</a>
</div>
<style media="screen">
.block-container{
  background-image: url("images/landing-sky.png");
}
</style>
