<nav class="navbar">
  <a href="landing"><img class="navbar-logo" src="images/x.png" alt="Image failed to load" width="28px"></a>
  <ul>
    <li><a href="login" class="navbar-link">Login</a></li>
    <li><a href="register" class="navbar-link">Register</a></li>
    <li><a href="password-reset" class="navbar-link">Forgot Password?</a></li>
  </ul>
</nav>
<div class="container-fluid" id="page-container">
  <div class="row" style="margin-top: 30vh;">
    <div class="col-lg-4 col-lg-offset-4">
      {{>loginForm}}
    </div>
  </div>
</div>
