<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
<a class="navbar-brand" href="#">Navbar</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#">Features</a>
    <a class="nav-item nav-link" href="#">Pricing</a>
    <a class="nav-item nav-link disabled" href="#">Disabled</a>
  </div>
</div>
</nav>

<div class="container-fluid" id="page-container">
  <div class="marginalize">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 ">
      <h1 class="text center dark">Welcome to CSGOGambling!</h1>
      <h2 class="text center dark">The Number One Website In Your Gambling Needs!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-3 col-sm-3 col-sm-offset-3">
      <p class="text disclaimer"><b>"DISCLAIMER"</b>CSGOGambling is not responsable for your credit card. If your child steals it and bets it on our website it is not refundable. 0 exeptions.</p>
      <p class="text center">CSGOGambling is a fair website, play at your own risk. We are not responsable for any gambling addictions our site may have created.</p>
    </div>
    <div class="col-lg-3 col-sm-3">
      <p class="text center">Ask your doctor if gambling is alright for you, as users with anger management, anxiety or bipolar disorder may have many negative experiences on our website.</p>
      <p class="text center">These experiences include, but are not limited to:</p>
      <ul>
        <li class="text center">Smashing your computer,</li>
        <li class="text center">Spending all of your money,</li>
        <li class="text center">Or thinking you have more money than you have</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3">
      <p class="text center">With all this in mind, have fun on our website and don't ask for refunds!</p>
      <h3 class="text center"><u><a href="login">Login</a></u></h3>
      <h3 class="text center"><u><a href="register">Create a FREE account!</a></u></h3>
      <h3 class="text center"><u>Open Cases</u></h3>
      <h3 class="text center"><u>Withdraw Items</u></h3>
      <h3 class="text center"><u>Deposit Funds</u></h3>
      </div>
    </div>
  </div>
</div>
