<h1 class="h1">Welcome to CSGOGambling!</h1>
<h2 class="h2">The Number One Website In Your Gambling Needs!</h2>
<p class="disclaimer"><b>"DISCLAIMER"</b><i>CSGOGambling is not responsable for your credit card. If your child steals it and bets it on our website it is not refundable. 0 exeptions.</p>
  <p class="p"><br>CSGOGambling is a fair website, play at your own risk. We are not responsable for any gambling addictions our site may have created.</p>
  <p class="p"><br>Ask your doctor if gambling is alright for you, as users with anger management, anxiety or bipolar disorder may have many negative experiences on our website.</p>
  <p class="p"><br> These experiences include, but are not limited to:
  <br><li class="li">Smashing your computer,</li><li class="li">Spending all of your money,</li><li class="li">Or thinking you have more money than you have</li></p>
  <p class="p"><br>With all this in mind, have fun on our website and don't ask for refunds!<i></p>
    <h3 class="h3"><u><a href="login">Login</a></u></h3><h3 class="h3"><u><a href="register">Create a FREE account!</a></u></h3><h3 class="h3"><u>Open Cases</u></h3><h3 class="h3"><u>Withdraw Items</u></h3><h3 class="h3"><u>Deposit Funds</u></h3>
