<div class="container-fluid" id="page-container">
  <div class="row" style="margin-top: 40vh;">
    <div class="col-lg-6 col-lg-offset-3">
      <p class="text light center large">You are now registered. Activate your account.</p>
      <p class="text light center large"><a class="text light underline" href="http://{{emailLink}}">Go to your email.</a> </p>
    </div>
  </div>
</div>
