body,html{

background-color: #D4E4BC;

}


.h1{

  text-align: center;
  color: #456;

}

.h2{

text-align: center;
color: #6CC551;

}

.h3{

text-align: center;
color: #A4036F;

}

.disclaimer{

text-align: center;
color: #23022E;

}

.p{

text-align: center;
color: #209EE8;

}

.li{

text-align: center;
color: #23022E;

}
