html{
  min-height: 100%;
  background-color: #A1B5D8;
  /*overflow-x: hidden;*/
}
body{
  height: 100%;
}
.disclaimer{

text-align: center;
color: #23022E;

}
.text{
  font-family: 'Raleway', sans-serif;
}
.text.left{
  text-align: left;
}
.text.center{
  text-align: center;

}
.text.right{
  text-align: right;
}
.text.light{
  color: #EEE;
}
.text.dark{
  color: #333;
}
#page-container{
  min-height: 100%;
  background-color: #A1B5D8;
}
.maginalize{
  margin-top: 10vh;
}
