.left-picture{
  background-image: url("/images/home/purple-crate.png");
  background-position: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 30%;
  filter: grayscale(100%);
}
.right-picture{
  background-image: url("/images/home/awp-asiimov.png");
  background-position: 100% 100%;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 40%;
  background-repeat: repeat-y;
  filter: grayscale(100%);
}
.block-container{
  display: block;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.block-content{
  position: absolute;
  left: 0;
  bottom: 1.5%;
  transition: 0.3s;
  color: #000;
  width: 30%;
}
.block-content-left{

}
.block-content-right{
  left: 5%;
}
.block-description{
  transition: 0.3s;
  opacity: 1;
  overflow: auto;
  font-style: italic;
  text-align: center;
  left: 0;
  bottom: 5%;
  color: inherit;
}
.block-title{
  left: 0;
  bottom: 0;
  transition: 0.3s;
  color: inherit;
  text-align: center;
  line-height: 50%;
}
.block-title-left{
}
.block-title-right{
left: 3%;
}
.left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #FFF;
}
.right{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #FFF;
}
.block{
transition: 0.3s;
}
.left:hover{
  background-color: #823;
}
.right:hover{
  background-color: #BCD2EE;
}
.left:hover .block-title{
  color: #B961AC;
}
.right:hover .block-title{
  color: #E5571F;
}
.left:hover .block-description{
  color: #B961AC;
}
.right:hover .block-description{
  color: #E5571F;
}
.left:hover .left-picture{
  filter: grayscale(0%);
}
.right:hover .right-picture{
  filter: grayscale(0%);
}
