.navbar{
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  transition: 0.4s;
  z-index: 1000;
}
ul{
list-style-type: none;
margin: 0;
padding: 0;
background: transparent;
min-height: 100%;
}
li{
  float: right;
  min-height: 100%;
  display: inline;
  transition: 0.4s;
}
li a{
  display: block;
  text-align: center;
  padding: 13px 32px;
  text-decoration: none;
  text-transform: uppercase;
  min-height: 100%;
  transition: 0.4s;
  color: #FFF;
  opacity: 0.35;
}
li a.selected{
opacity: 0.9;
}
.navbar-logo{
  float: left;
  display: inline;
  position: absolute;
  padding: 3px 0px 10px 0px;
  left: 1vw;
  top: 1vh;
}
li a:hover{
  opacity: 0.9;
  text-decoration: none;
  color: #FFF;
}
.page-title{
  float: left;
  margin-left: 60px;
  margin-top: 10px;
}
