.text{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
.text.small{
font-size: 14px;
}
.text.medium{
font-size: 22px;
}
.text.large{
font-size: 32px;
}
.text.left{
  text-align: left;
}
.text.center{
  text-align: center;
}
.text.right{
  text-align: right;
}
.text.light{
  color: #EEE;
}
.text.light::placeholder{
  color: #EEE;
  opacity: 1;
}
.text.light:-ms-input-placeholder{
  color: #EEE;
}
.text.light::-ms-input-placeholder{
  color: #EEE;
}
.text.center::placeholder{
  text-align: center;
}
.text.center:-ms-input-placeholder{
  text-align: center;
}
.text.center::-ms-input-placeholder{
  text-align: center;
}
.text.dark{
  color: #333;
}
.text.red{
  color: #7A1400;
}
.text.underline{
  text-decoration: underline;
}

a.text{
  color: #EEE;
}
.text.no-margin-top{
  margin-top: 0;
}
.text.no-margin-right{
  margin-right: 0;
}
.text.no-margin-bottom{
  margin-bottom: 0;
}
.text.no-margin-left{
  margin-left: 0;
}
.text.no-margin{
  margin: 0;
}
.text.small-margin{
  margin: 5px;
}
.text.small-margin-top{
  margin-top: 5px;
}
.text.small-margin-right{
  margin-right: 5px;
}
.text.small-margin-bottom{
  margin-bottom: 5px;
}
.text.small-margin-left{
  margin-left: 5px;
}
.text.nolink{
  text-decoration: none;
}
